<div class="row" style="display: flex;">
	<div class="col-md-3" style="display: inline-block; width: 20%;">
		<div class="flex-shrink-0 p-3 bg-white vh-100">
			<a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
				<svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
				<span class="fs-5 fw-semibold">Collapsible</span>
			</a>
			<ul class="list-unstyled ps-0">
				<li class="mb-1" *ngFor="let item of menuList">
					<button [className]="expandedMenu == item.title ? 'btn btn-toggle align-items-center rounded' : 'btn btn-toggle align-items-center rounded collapsed'"  data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false" (click)="onExpand(item.title)">
					{{item.title}}
					</button>	
					<div id="home-collapse" [className]="expandedMenu == item.title ?'collapse show' : 'collapse'">
						<ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
							<li *ngFor="let child of item.children"><a [routerLink]="[child.route]" class="link-dark rounded">{{child.title}}</a></li>	
						</ul>
					</div>	
				</li>
			</ul>
		</div>
   </div>
   <div class="col-md-3" style="display: inline-block; width: 80%;">
		<router-outlet></router-outlet>
   </div>
</div>